@charset "utf-8";
@import url("font.css");

/* 초기화 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  /* 기본폰트px을 지정해둠(보통은 계산편하게 10px으로 정해둠~) */
  font-size: 10px;
}
body {
  /* import한 폰트 외에, 기본서체인 sans-serif를 넣어둔다(차선책) */
  font-family: "Pretendard", "sans-serif";

  /* rem을 씀으로써 유동적으로 변하도록 사용 */
  font-size: 1.3rem;

  /* 행간은 폰트사이즈의 배수임. */
  /* 단위에 rem을 적으면 html의 폰트사이즈px을 기준으로 계산됨 */
  /* 단위를 빼고 숫자만 적으면 같은body의 폰트사이즈rem을 기준으로 계산됨 */
  /* 단위에 px을 적으면 절대적인 px값으로 계산된다. */
  line-height: 1;
  color: #000;
  letter-spacing: -0.64px;
  word-break: keep-all;
}

/* 공통클래스 */
.inner {
  display: block;
  position: relative;

  /* rem 활용하여 사이즈 지정하기 */
  /* max-width 반응형 */
  max-width: 1280px;

  /* block 중앙에 두기 */
  margin: 0 auto;
}

/* 반응형 적용 */
@media screen and (max-width: 1280px) {
  .inner {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .inner {
    max-width: 760px;
  }
}
@media screen and (max-width: 760px) {
  .inner {
    max-width: 100%;
  }
}

.clearfix::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  clear: both;
}

/* swiper 버튼  */

.sw-bt {
  /* 원형 버튼 생성 */
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  font-size: 0;
  cursor: pointer;
}

.sw-next {
  position: absolute;
  top: 50%;
  right: 0;
  /* 버튼 중앙에 위치하기 */
  transform: translate(50%, -50%);
  z-index: 99;
}

.sw-prev {
  position: absolute;
  top: 50%;
  left: 0;
  /* 버튼 중앙에 위치하기 */
  transform: translate(-50%, -50%);
  z-index: 99;
}
.sw-bt::before {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 4px);
  content: "";
  width: 8px;
  height: 16px;
  background: url("../images/slider_arrow.svg") no-repeat center;
}
/* 버튼 방향바꾸기 */
.sw-prev::before {
  /* 좌표 및 크기를 변경하지않고, 눈에 보이는 것들만 변경한다 */
  /* scaleX = 크기가 변하는데, X축인 가로로 변한다는 것  */
  transform: scaleX(-100%);
}

/* section 내용 구조 */
.section-top {
  text-align: center;
}
.section-top > h2 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-top > p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

/* 섹션의 버튼이 중앙정렬 되도록 설정 */
.section-top .btns {
  /* inline-block은 html코드의 ENTER도 글자로 인식해서 공백글자가 들어간다. */
  /* 그래서 의미없는 공백을 없애기 위해 font size를 0으로 지정한다 */
  font-size: 0;
  margin: 25px 0;
}

/* 버튼모양 설정 */
.section-top .btns a {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 0 20px;

  /* line-height주면 높이설정&중앙정렬까지 한번에 됨 */
  line-height: 42px;

  font-size: 14px;
  color: #111;
  background: #fff;

  /* 의도한 여백을 넣어줌 */
  margin-right: 6px;
}
.section-top .btns a:last-child {
  margin-right: 0;
}

.btns-active {
  /* !important : 막강한 파워를 준다. 최고우선순위 */
  background: #111 !important;
  color: #fff !important;
}

.section-slide {
  position: relative;
  margin-bottom: 20px;
}

.section-bottom {
  text-align: center;
}
.bt-link-shop {
  /* 만약 block이면 width를 주고, margin: 0 auto;를 줘야하는데 
      inline-block이므로 글자처럼 text-align: center;를 준다*/
  display: inline-block;
  font-size: 16px;
  line-height: 56px;

  /* 버튼 테두리 꾸미기 */
  padding: 0 40px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  color: #333;
  font-weight: 700;
}
.bt-link-shop::after {
  display: inline-block;
  position: relative;
  content: "";
  width: 7px;
  height: 11px;
  background: url("../images/icon_linkArrow.svg") no-repeat center;
  margin-left: 3px;
}

/* 텍스트 반응형 */
@media screen and (max-width: 1280px) {
  .section-top {
  }
}
@media screen and (max-width: 1024px) {
  .section-top {
  }
  .section-top > h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .section-top > p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 760px) {
  .section-top {
  }
}

/* 우측하단 고정 광고 */
/* html 플라잉 배너 */

.fix-banner {
  /* 위치고정 */
  position: fixed;
  right: 20px;
  bottom: 20px;
  /* 우선순위 설정 */
  z-index: 9999;
  text-align: center;
}
.fix-banner a {
  display: block;
}

.fix-banner img {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.gotop {
  display: inline-block;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff url("../images/btn_topArrow.svg") no-repeat center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.16);
}

/* 기본레이아웃 */
.wrap {
}

/* 상단 */
.header {
  z-index: 999999;

  /* 아래테두리만 그리기 */
  /* border-bottom: 1px solid #ebebeb; -보다 rgba를 이용하자 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .inner {
  /* 마진을 사용하면 오류가 생길 수 있음 */
  /* margin-top: 30px; */
  padding-top: 30px;
  height: 160px;
}
.header-up {
}

/* 서치+버튼이 들어가는 블록 설정 */
.header-left {
  position: relative;
  /* 자식이 모두 absolute라서 너비높이를 설정해야함 */
  width: calc(118px + 455px + 20px);
  height: 50px;
  float: left;
}

.logo {
  /* .logo는 a태그라 기본이 inline(너비높이 설정x)임. */
  /* inline-block 이나 block으로 재설정 필요 */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 50px;

  /* url 주소입력 주의 */
  /* 배경그림 속성 및 위치선정 */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background: url("../images/logo.svg") no-repeat center;

  /* 배경그림 잘리지않고 채우기 */
  background-size: contain;
}

/* 서치 폼 설정 */
.search {
  position: absolute;
  top: 0;
  right: 0;

  width: 455px;
  height: 50px;

  /* 테두리 설정 */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;

  /* 선 넘어가는건 숨기도록 설정 */
  overflow: hidden;
  padding: 0px 15px;
}

/* 서치 입력창 설정 */
.search-text {
  height: 50px;
  width: calc(100% - 25px);
  border: 0;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
}

/* placeholder라는 속성도 꾸밀수 있다. */
.search-text::placeholder {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 700;
}

.search-bt {
  width: 17px;
  height: 17px;
  background: url("../images/btn_search.svg") no-repeat center;
  background-size: contain;
  border: 0;
  /* 커서모양 변화 */
  cursor: pointer;
  /* 상세위치 조절. form태그는 inline이라 vertical-align을 쓸수있음
  (inline & inline-block) */
  vertical-align: -3px;
}

.search-reset {
  position: absolute;
  top: calc(50% - 8px);
  right: 45px;
  border: 0;
  font-size: 0;

  height: 16px;
  width: 16px;
  background: url("../images/btn_searchDelete.svg") no-repeat center;
  background-size: contain;

  cursor: pointer;
}

.header-right {
  float: right;
}
.member-list {
  margin-top: 17px;

  /* line-height는 inline일때만 사용가능하다(텍스트위아래로 의미없는 공백이 생길수도 */
  /* line-height: 50px;  */
}

.member-list > li {
  position: relative;
  float: left;

  /* li사이에 간격 조정 */
  margin-right: 20px;
}

/* li안에 들어가는 a태그 텍스트 설정 */
.member-list > li > a {
  font-size: 16px;
  color: #111;
  font-weight: 500;
}

/* li중에 마지막꺼에는 오른쪽 마진을 없앤다(의미없는 여백 없애기) */
.member-list > li:last-child {
  margin-right: 0;
}

.icon-arrow::after {
  display: inline-block;
  position: relative;
  content: "";
  width: 8px;
  height: 5px;
  background: url("../images/arrow_pc.svg") no-repeat center;
  vertical-align: 3px;
  margin-left: 5px;
}

/* 멤버리스트 중에 3번째 li에 마우스커서를 올려두면 마이페이지 나타나게 해라 */
/* .member-list > li:nth-child(3):hover .mypage{display:block;}  */

.mypage-bt:hover .mypage {
  display: block;
}

.mypage {
  display: none;
  /* 위로 올라가서 기준점(position) 잡아서 내려오기 */
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 999999;
  background: #fff;
  padding: 20px;
  border-radius: 13px;

  /* 박스 그림자 넣기 */
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
}

.mypage-list {
}

.mypage-list li {
  /* 위아래 여백 */
  margin: 20px 0;
}

.mypage-list > li:first-child {
  margin-top: 0;
}

.mypage-list > li:last-child {
  margin-bottom: 0;
}

.mypage-list li a {
  /* 글자 줄내림 없음, inline은 한줄로 배치*/
  white-space: nowrap;
  font-size: 14px;
}
.mypage-list li a b {
  font-weight: 600;
}

.mb-mypage {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-down {
}

.service-list {
  display: block;
  margin-top: 30px;
  float: left;
}

.service-list li {
  float: left;
  padding-right: 23px;
}

.service-list li:last-child {
  padding-right: 0;
  margin-right: 15px;
}

.service-list li a {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
}
.service-list li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.service-menu {
  float: left;
  margin-top: 30px;
}

.service-menu li {
  float: left;
}

.service-menu li a {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
  padding: 0 12px;
}

.service-menu li a::before {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  content: "";
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
}

/* header 반응형 적용 */
@media screen and (max-width: 1024px) {
  .header {
    border-bottom: 8px solid #f0f4f4;
  }
  .header .inner {
    padding-top: 15px;
    height: 230px;
  }
  /* 서치창 중앙정렬을 위해 너비100%설정 */
  .header-left {
    width: 100%;
  }
  .logo {
    width: 77px;
    height: 18px;
    margin-left: 15px;
  }
  .search {
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* 기존의 list를 없애고 새로운 모양으로 변경해야함 */
  .member-list {
    display: none;
  }
  /* service-list 중앙정렬하기 */
  /* service-list를 inline-block으로 설정하고, 텍스트중앙정렬한다 
  (service-list의 너비를 지정하지않았으므로 margin: 0 auto;를 쓸수없음) */
  /* float:left되어있는걸 없앰 */
  .mb-mypage {
    display: block;
  }
  .header-down {
    text-align: center;
  }
  .header-right {
  }
  .service-list {
    display: inline-block;
    float: none;
    margin-top: 0;
  }
  .service-list li {
    padding-right: 20px;
  }
  /* 블록으로 한줄내림하도록 지정함 */
  .service-list li a img {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
  }
  .service-list li a {
    font-size: 12px;
    font-weight: 400;
  }
  /* 여백조절 */
  .service-list li:last-child {
    margin-right: 0;
  }

  /* 안보이게 없앰 */
  .service-menu {
    display: none;
  }
}

/* 추천이벤트 */
.promotion {
  padding-top: 30px;
  padding-bottom: 90px;
}
.promotion .inner {
  height: 345px;
}
.promotion .section-top {
  display: none;
  padding-bottom: 20px;
}

.promotion-slide {
  /* 이너의 높이에 따라 움직이도록 %로 기입 */
  height: 100%;
}
.sw-promotion a {
  display: inline-block;
  overflow: hidden;
  border-radius: 13px;
}
.sw-promotion a img {
  width: 100%;
  height: auto;
}
/* 추천이벤트 반응형 적용 */
@media screen and (max-width: 1240px) {
  .promotion .inner {
    height: 275px;
  }
}
@media screen and (max-width: 1024px) {
  .promotion {
    border-bottom: 8px solid #f0f4f4;
  }
  .promotion .inner {
    height: 200px;
  }
  .promotion .section-top {
    display: block;
  }
  .sw-prom .promotion .sw-bt {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .promotion .inner {
    height: 190px;
  }
  .sw-promotion {
    width: 280px;
  }
}

/* 쇼핑추천 */
.shopping {
  padding-top: 30px;
  padding-bottom: 90px;
}

.shopping .section-slide {
  height: 405px;
}
.sw-shopping {
  height: 100%;
}

.good {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  text-align: center;
  overflow: hidden;
}
.good > img {
  width: 100%;
  /* 배경색이 mix-blend되므로, 색상이 섞인다 */
  /* multiply는 흰색을 투명하게 한다.(포토샵처럼 이미지 블랜드 가능) */
  /* 자주 사용하지는 않는 기능 */
  mix-blend-mode: multiply;
}

.good-info {
  background: #fff;
  text-align: left;
  padding: 20px;
}
.good-info-list {
}
.good-info-list li {
}
.good-info-list li b {
  font-size: 20px;
  line-height: 24px;
  color: #111;
  font-weight: 700;
}
.good-info-list li b span {
  color: #ef2e43;
}
.good-info-list li p {
  /* 조건3. display: -webkit-box */
  display: -webkit-box;
  /* 내용이 한줄 일수도 있고/ 최대2줄이다 */
  /* 높이값을 지정해서 레이아웃을 지킨다. */
  height: 36px;
  font-size: 15px;
  line-height: 18px;
  color: #111;
  margin-top: 10px;

  /* 내용이 넘치는 경우 "..."처리하기 -자세한 내용은 카페참조- */
  /* 2줄 말줄임 */
  /* line-height: 18px; 일때 2줄이상 넘칠때 ...처리하려면 높이를 18*2으로 설정한다 */

  /* 조건1. 반드시 높이가 있어야 합니다.  */
  /* 조건2. 넘치는 영역을 가린다 */
  overflow: hidden;
  /* 조건4. text-overflow: ellipsis */
  text-overflow: ellipsis;
  /* 아래코드를 입력한다. */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 투어특가 */
.tour {
  padding-top: 30px;
  padding-bottom: 90px;
}

.tour .section-slide {
  height: 355px;
}
.sw-tour {
  height: 100%;
}
.tour-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tour-img {
  position: relative;
  width: 100%;
  height: 245px;
  overflow: hidden;
}

/* 이미지 중앙정렬하기(비율 유지한 채 크기 변경하기) absolute이용하기 */
.tour-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 영역말고 내용. 즉, 보이는부분만 이동 */
  transform: translate(-50%, -50%);
  width: 100%;
}
.tour-info {
  padding: 20px;
  background: #fff;
}
.tour-info-list {
}
.tour-info-list li {
  position: relative;
  margin-bottom: 3px;
}

.tour-cate {
  display: inline-block;
  /* 글자 써진 만큼만 영역이 잡힘 */
  position: absolute;
  top: -39px;
  left: 0;
  background: #4a95ff;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 3px;
}
.tour-title {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #4a95ff;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tour-place {
}
.tour-price {
  color: #111;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.tour-price b {
  font-size: 20px;
  font-weight: 700;
}

/* 티켓랭킹 */
.ticket {
  padding-top: 30px;
  padding-bottom: 90px;
}
.ticket .section-slide {
  height: 540px;
}

.ticket .section-slide .sw-bt {
  /* 버튼위치 별개로 조절하기 */
  /* css우선순위로 인해, 힘 쎄도록 만들기 */
  /* 나중에 기입 & 최대한 복잡한 경로로.. */
  top: 40%;
}

.sw-ticket {
  height: 100%;
}
.ticket-link {
  display: block;
  width: 100%;
  height: 100%;
}
.ticket-img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.ticket-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.ticket-rank {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.ticket-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)),
    linear-gradient(180deg, transparent 68.5%, rgba(0, 0, 0, 0.6));
}

.ticket-info {
  padding: 20px 10px;
  background: #fff;
}

.ticket-info-list {
}
.ticket-info-list li {
  margin-bottom: 5px;
}
.ticket-info-list li:first-child {
  margin-bottom: 0px;
}

.ticket-title {
  /* 2줄 말줄임(...)처리 */
  display: -webkit-box;
  color: #111;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ticket-hall {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #666;
  /* 1줄 말줄임 처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ticket-data {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.ticket-sale {
  display: inline-block;
  line-height: 24px;
  font-size: 11px;
  padding: 0 8px;
  color: #ef2e43;
  border: 1px solid rgba(239, 62, 67, 0.3);
  border-radius: 3px;
}

/* 인터파크 라이브 */
.live {
  padding-top: 30px;
  padding-bottom: 90px;
}

.live .section-top {
  margin-bottom: 25px;
}

.live .section-slide {
  height: 455px;
}

.sw-live {
  height: 100%;
}
.live-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.live-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.live-img img {
  /* 이미지 너비, 높이 상관없이 가운데 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 높이를 지정하면 너비는 auto로 알아서 변경됨 */
  height: 100%;
}

.live .section-slide {
}
.live .section-bottom {
}

.live-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.live-info-top {
}
.live-info-cate {
  /* 글자만큼 너비영역이 자동으로 잡히게 */
  display: inline-block;
  line-height: 32px;
  font-size: 13px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 12px;
  margin-bottom: 10px;
}

.live-info-title {
  display: -webkit-box;
  font-size: 20px;
  line-height: 24px;
  /* 2줄 말줄임 출력 */
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 700;
  color: #fff;
}
.live-info-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.live-info-date {
  font-size: 28px;
  color: #fff;
  line-height: 33px;
  margin-bottom: 5px;
}
.live-info-time {
  font-size: 50px;
  color: #fff;
  line-height: 60px;
  font-weight: 700;
}

.live-info-bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.live-info-thumb {
  position: relative;
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  overflow: hidden;
  background: peachpuff;
}
.live-info-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.live-info-desc {
  float: right;
  width: calc(100% - 65px - 10px);
}
.live-info-desc-title {
  font-size: 15px;
  line-height: 18px;
  color: #fff;

  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}
.live-info-desc-price {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}
.live-info-desc-price em {
  color: #ef2e43;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  /* em태그로 인해 폰트가 누워있으므로, normal상태로 되돌려놓음 */
  font-style: normal;
}
.live-info-desc-price b {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* 오늘의 도서 */
.books {
  padding-top: 30px;
  padding-bottom: 90px;
}

.books .section-slide {
  height: 400px;
}
.sw-books {
  height: 100%;
}

.books-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.books-img {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 335px;
  overflow: hidden;
}
.books-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.books-info {
  text-align: center;
}
.books-info-title {
  font-size: 15px;
  line-height: 18px;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
}

.books-info-price {
  font-size: 16px;
}
.books-info-price em {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.books .section-bottom {
}

/* 할인이벤트 */
.event {
  padding-top: 30px;
  padding-bottom: 90px;
}
.event .section-top {
  margin-bottom: 25px;
}
.event .section-slide {
  height: 350px;
}
.sw-event {
  height: 100%;
}
.event-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #f7f7f7;
}
.event-link img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mix-blend-mode: multiply;
}

.event .swiper-slide {
}

/* 하단 */
.footer {
  padding-top: 30px;
  padding-bottom: 90px;
}

.footer-menu {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}
.footer-menu .inner {
}

.footer-menu-list {
  /* 알아서 균등하게 분할해줌 */
  display: flex;
  /* 사이여백 */
  justify-content: space-between;
}

.footer-menu-list > li {
  position: relative;
}
.footer-menu-list > li::after {
  position: absolute;
  top: 2px;
  right: -36px;
  content: "";
  width: 1px;
  height: 12px;
  background: rgba(0, 0, 0, 0.3);
}

.footer-menu-list > li:last-child::after {
  content: none;
}

.footer-menu-list > li > a {
  font-size: 13px;
  line-height: 16px;
  counter-reset: #333;
  /* 줄내림 하지마.. */
  white-space: nowrap;
}
.footer-menu-list > li > a > strong {
  font-weight: 700;
}
.footer-menu-list > li > a > i::before {
  display: inline-block;
  position: relative;
  content: "";
  width: 8px;
  height: 6px;
  background: url(../images/icon_arrow.svg) no-repeat center;
  margin-left: 4px;
  vertical-align: 1px;
}
.more-list {
  /* 마우스 오버 시 나타나도록 설정 */
  display: none;

  position: absolute;
  top: 20px;
  right: 0;
  padding: 17px;
  background: #fff;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.footer-menu-list > li:hover .more-list {
  display: block;
}

.more-list li {
  margin-bottom: 16px;
}
.more-list li:last-child {
  margin-bottom: 0;
}

.more-list li a {
  /* 줄내림 금지 */
  white-space: nowrap;
  font-size: 13px;
  color: #333;
}

.footer-main {
  padding-top: 30px;
  padding-bottom: 55px;
}

.footer-main-left {
  width: 50%;
  float: left;
  padding-right: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.footer-main-right {
  width: 50%;
  float: right;
  padding-left: 30px;
}

.company-name {
  float: left;
  font-size: 15px;
  font-weight: 700;
  color: #111;
  margin-right: 10px;
}
.company-info {
  float: left;
  width: 80%;
}

.company-info li {
  font-size: 12px;
  color: #666;
  line-height: 17px;
  margin-bottom: 15px;
}
.company-info li:last-child {
  margin-bottom: 0;
}
.company-info li span {
}
.company-info li span.f-line::after {
  display: inline-block;
  position: relative;
  content: "";
  width: 1px;
  height: 10px;
  background: #b2b2b2;
  vertical-align: -1px;
  margin: 0 2px 0 6px;
}
.company-info li a {
  color: #666;
}

.company-info li a.line {
  color: #4a95ff;
  text-decoration: underline;
}

.company-info li b {
  color: #111;
  font-weight: 700;
}

.company-info li p {
  font-size: 11px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.copy {
  font-size: 11px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
